@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;
@use "../components/tag" as tag;

.featured_offer {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
}

.featured_banner_desktop {
    object-fit: cover;
    height: 700px;
    width: 100%;
}

.featured_banner_mobile {
    display: none;
}

.offer_content {
    position: absolute;

    @include mix.flex-center(center, stretch);
    flex-direction: column;
    width: clamp(100px, 100%, 600px);
    height: 100%;

    padding-left: 120px;
}

.featured_tag {
    @include tag.tag(150px);
}

.offer_header {
    @include mix.text-style(bigger, semibold, color-tertiary);
    padding: 20px 0;
}

.offer_description {
    @include mix.text-style(large, regular, color-tertiary);
    margin-bottom: 20px;
}

.cta_link {
    width: fit-content;
    @include mix.text-style(large, semibold, color-tertiary);
    border-bottom: 1px solid #657e6e;
}

@media screen and (max-width: 1024px) {

    .offer_content {
        padding-left: 30px;
    }

}

@media screen and (max-width: 768px) {

    .featured_offer {
        display: block;
    }

    .featured_banner_desktop {
        display: none;
    }

    .featured_banner_mobile {
        display: block;
        width: 100%;
    }

    .offer_content {
        position: static;
        width: 100%;
        padding: 20px;

        &.offer_content::after {
            content: '';
            border-bottom: 2px solid #e2e3e6;
            padding-top: 20px;
        }
    }

    .offer_header {
        @include mix.text-style(medium-large, semibold, color-secondary);
    }

    .offer_description {
        @include mix.text-style(normal, regular, color-secondary);
    }

    .cta_link {
        @include mix.text-style(normal, semibold, color-accent);
    }

}