@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

.slider_marketing {
    @include mix.flex-center(center, stretch);
    flex-wrap: wrap;
    padding: 0 20px;
}

.slider_marketing_container {
    position: relative;
    width: clamp(100px, 100%, 1100px);
    overflow: hidden;
}

.slider_marketing_track {
    display: flex;
    transition: transform .5s;
    touch-action: pan-y;
}

.slider_marketing_wrapper {
    flex-shrink: 0;
    flex-basis: 100%;
    margin-bottom: 20px;
}

.slide_marketing {
    width: 100%;
    height: auto;
}

.slider_marketing_description {
    @include mix.text-style(large, regular, color-secondary);
    padding-top: 60px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {

    .slider_marketing_container::after {
        display: block;
        content: '';
        border-bottom: 2px solid #e2e3e6;
        width: 100%;
        padding-top: 20px;
    }

}