@use "variables" as vars;

@mixin flex-center($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin text-style(
    $size: normal,
    $weights: regular,
    $colors: primary,
    $align: start,
) {
    font-size: map-get(vars.$text-sizes, $size);
    font-weight: map-get(vars.$text-weights, $weights);
    color: map-get(vars.$text-colors, $colors);
    text-align: $align;
}

@mixin icons($folder, $name, $width, $height) {
    background: url("../../assets/#{ $folder }/#{ $name }.svg") no-repeat center;
    width: $width;
    height: $height;
}