@use "variables" as vars;

@mixin flex-center($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin text-style(
    $size: normal,
    $weights: regular,
    $colors: primary,
    $align: start,
) {
    font-size: map-get(vars.$text-sizes, $size);
    font-weight: map-get(vars.$text-weights, $weights);
    color: map-get(vars.$text-colors, $colors);
    text-align: $align;
}

@mixin icons($folder, $name, $width, $height) {
    background: url("../../assets/#{ $folder }/#{ $name }.svg") no-repeat center;
    width: $width;
    height: $height;
}

@mixin search-string-styles($width) {
    width: clamp(60px, 100%, $width);
    height: 40px;
    border-radius: 20px;
    background-color: map-get(vars.$background-colors, bg-secondary);
    border: 4px solid transparent;
    outline: none;
    transition: all .2s ease-in-out;
    padding: map-get(vars.$paddings, input-padding);
    background-image: url("../../assets/others/search.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);

    &:focus {
        border: map-get(vars.$outline-colors, input-focus);
    }
}