@use '../abstracts/variables' as vars;

@mixin search-string-styles($width) {
    width: clamp(60px, 100%, $width);
    height: 40px;
    border-radius: 20px;
    background-color: map-get(vars.$background-colors, bg-secondary);
    border: 4px solid transparent;
    outline: none;
    transition: all .2s ease-in-out;
    padding: 10px 35px 10px 10px;
    background-image: url("../../assets/others/search.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);

    &:focus {
        border: 4px solid #d3ead2;
    }
}