@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as vars;

@mixin tag($width) {
    &.tag_container {
        width: clamp(50px, 100%, $width);
        height: 20px;
        background-color: map-get(vars.$background-colors, bg-danger);
        border-radius: 2px;
    }

    .tag {
        @include mix.flex-center(center, center);
        width: 100%;
        height: 100%;
        @include mix.text-style(small, semibold, color-tertiary);
    }
}