body, html {
    scrollbar-gutter: stable;
}

* {
    padding: 0;
    margin: 0;
    font-family: PT Sans, Arial, sans-serif;
}

ul, li, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

input, button {
    background-color: transparent;
}

.hidden {
    display: none !important;
}

.visibility {
    visibility: visible !important;
}

.scroll_hidden {
    overflow-y: hidden;
}