.product_section {
    height: 100%;
    margin-bottom: 42px;
}

.product_section_container {
    display: flex;
    width: 100%;

    padding-left: 95px;
    padding-right: 95px;
    box-sizing: border-box;
}

.mobile_product_section {
    display: none;
}

.products {
    display: flex;
    justify-content: space-around;
    width: 100%;

    border-bottom: 3px solid #447354;

    padding-top: 28px;
    padding-bottom: 28px;
}

.product_link {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #444444;

    cursor: pointer;
}

.product_link:hover {
    text-decoration: underline;
    color: #447355;
}

.product_link_red {
    color: #D0312D;
}

/* BUDGET SECTION */
.budget_header {
    display: flex;
    width: 100%;
    justify-content: center;

    padding-top: 92px;
    margin: 0 0 40px 0;
}

.budget_header h2 {
    font-size: 40px;
    color: #343A40;
}

.budget_cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;

    box-sizing: border-box;
    padding: 0 20px 0 20px;
}

.budget_card {
    height: 213px;
}

@media screen and (max-width: 1440px) {

    .budget_cards {
        gap: 20px;
    }

    .budget_card {
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width: 768px) {

    .product_section_container {
        display: none;
    }

    .mobile_product_section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        padding: 32px 38px 0 38px;
        box-sizing: border-box;
    }

    .show_products_btn {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 100%;

        border: 1px solid #447354;
        border-radius: 20px;

        font-size: 16px;
        color: #447354;
        font-weight: 400;
        line-height: 24px;

        margin-bottom: 36px;

        cursor: pointer;
    }

    .show_products_btn:hover {
        outline: 2px solid #6b8a82;
        transition: all .2s ease-in-out;
    }

    .toggle {
        position: absolute;
        right: 20px;

        align-self: center;

        color: #447354;
    }

    .mobile_product_container {
        width: 100%;

        margin-bottom: 56px;
    }


    .mobile_product {
        position: relative;

        width: 100%;
        margin-top: 28px;
        padding-bottom: 24px;
    }

    .mobile_product:first-child {
        margin-top: 0;
    }

    .mobile_product::after {
        position: absolute;
        bottom: 0;
        left: 0;

        content: '';
        border-bottom: 1px solid #c7d5cc;
        width: 100%;
    }

    .budget_header {
        padding-top: 0;
    }

    .budget_header h2 {
        text-align: center;

        padding: 0;
        margin-bottom: 30px;

        font-size: 30px;
    }

    .budget_cards {
        display: block;
    }

    .budget_card {
        display: block;
        width: 100%;
        height: auto;
        gap: 0;

        margin-bottom: 20px;
    }

}